body{
	color: green;

}
h1{
	color: red;
}
span {

font-weight: bold;

}
ol { 
	
  list-style-type: upper-roman;
}

#one{
    font-style:italic;
    color: red;
    
}
#two{
    font-style: 'Times New Roman';
    color: blue;
    
}
.three{
    font-style: italic;
    color: red;
    
}
.four{
    font-style: 'Times New Roman';
    color: blue;
    
}
